@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles BELOW */

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}